# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/target/
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_google_guava_guava_18_0.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2.xml
.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__commons_jexl_commons_jexl_1_0.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_1.xml
.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__log4j_log4j_1_2_16.xml
.idea/libraries/Maven__net_sf_json_lib_json_lib_jdk13_2_4.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_3_2.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_7.xml
.idea/libraries/Maven__org_databene_contiperf_2_1_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1.xml
.idea/libraries/Maven__org_quartz_scheduler_quartz_1_8_6.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_6_0.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jms_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_messaging_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_2_4_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_4_RELEASE.xml
.idea/misc.xml
.idea/modules.xml
.idea/spring-ratelimiter.iml
.idea/vcs.xml
.idea/workspace.xml
